<!doctype html>
      <html>
        <head>
        <title>Form</title>
        <!--[if !mso]>-->
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <!--<![endif]-->
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.39.0/css/tempusdominus-bootstrap-4.min.css" integrity="sha512-3JRrEUwaCkFUBLK1N8HehwQgu8e23jTH4np5NHOmQOobuC4ROQxFwFgBLTnhcnQRMs84muMh0PnnwXlPq5MGjg==" crossorigin="anonymous" />
        <link rel="stylesheet" href="https://unpkg.com/dropzone@5/dist/min/dropzone.min.css" type="text/css" />
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.0/moment.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.39.0/js/tempusdominus-bootstrap-4.min.js" integrity="sha512-k6/Bkb8Fxf/c1Tkyl39yJwcOZ1P4cRrJu77p83zJjN2Z55prbFHxPs9vN7q3l3+tSMGPDdoH51AEU8Vgo1cgAA==" crossorigin="anonymous"></script>
        <script src="https://unpkg.com/dropzone@5/dist/min/dropzone.min.js"></script>        
        <style>
          .hr-form-builder {
            opacity: 1;
            background-color: transparent;
          }         
          div[id^="date_input_"] input,
          div[id^="datetime_input_"] input {
              border-top-right-radius: 0 !important;
              border-bottom-right-radius: 0 !important;
          }
          .dz-button {
            background: none;
            border: 0;
          }
          .dropzone {
            min-height: auto;
            padding: 0;
            margin: 0;
          }
          .dropzone .dz-message {
            margin: 0;
          }
        </style>
        <style type="text/css">
            @media only screen and (min-width:751px) {
              .column-per-20 {
                  width: 19.4% !important;
                  max-width: 19.4%;
              }
              .column-per-25 {
                  width: 24.4% !important;
                  max-width: 24.4%;
              }
              .column-per-33 {
                  width: 32.8% !important;
                  max-width: 32.8%;
              }
              .column-per-50 {
                  width: 49.4% !important;
                  max-width: 49.4%;
              }
              .column-per-66 {
                  width: 66.3% !important;
                  max-width: 66.3%;
              }
              .column-per-100 {
                  width: 100% !important;
                  max-width: 100%;
              }
            }
        </style>
</head>
            <body class="d-flex min-vh-100" style="align-items: flex-start;font-family: 'Helvetica Neue', Helvetica, sans-serif;font-size: 16px;background: #f5f5f5;padding: 15px;">
              <form method="post" action="" class="container-fluid user-select-auto mx-auto" style="background: #ffffff;max-width: 600px;padding: 15px;border-radius: 8px;border: solid 1px #ced4da">
                <div style="display:none">
                    <input type="text" class="form-control" id="set_receiver" name="receiver_email" value="" style="display:none;">
                  </div>
<div class="container-fluid p-0">
<div class="column-per-50 d-inline-block w-100 float-start">
<div style="padding-top: 10px;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-left: 0px;
    
    border-radius: 0px;min-height: auto;line-height: 1.5;font-family: 'Helvetica Neue', Helvetica, sans-serif;" class="text-break">
        <h3>Kontaktdaten</h3>

        </div><div style="padding-top: 10px;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-left: 0px;
    
    border-radius: 0px;min-height: auto;line-height: 1.5;font-family: 'Helvetica Neue', Helvetica, sans-serif;" class="text-break">
        <p>Sind Sie:</p>

        </div><div class="form-check" style="padding-top: 10px;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-left: 0px;
    
    border-radius: 0px;min-height: auto;">
        <input type="checkbox" class="form-check-input ms-0 me-2" name="checkbox-c5ef27de" value="1" id="c5ef27de-2284-7243-17ca-6bae21955fb2" />
        <label class="form-check-label" style="color: #000000;font-size: 14px" for="c5ef27de-2284-7243-17ca-6bae21955fb2">            
            Architekt / Planer 
        </label>
    </div><div class="form-check" style="padding-top: 10px;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-left: 0px;
    
    border-radius: 0px;min-height: auto;">
        <input type="checkbox" class="form-check-input ms-0 me-2" name="checkbox-00325047" value="1" id="00325047-49f5-91d6-7758-a6e9e836dcd6" />
        <label class="form-check-label" style="color: #000000;font-size: 14px" for="00325047-49f5-91d6-7758-a6e9e836dcd6">            
            Verarbeiter 
        </label>
    </div><div class="form-check" style="padding-top: 10px;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-left: 0px;
    
    border-radius: 0px;min-height: auto;">
        <input type="checkbox" class="form-check-input ms-0 me-2" name="checkbox-7dc31aed" value="1" id="7dc31aed-9a96-9e82-3aa9-201c042a4a7c" />
        <label class="form-check-label" style="color: #000000;font-size: 14px" for="7dc31aed-9a96-9e82-3aa9-201c042a4a7c">            
            Bauherr 
        </label>
    </div><div class="form-check" style="padding-top: 10px;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-left: 0px;
    
    border-radius: 0px;min-height: auto;">
        <input type="checkbox" class="form-check-input ms-0 me-2" name="checkbox-d7c8b251" value="1" id="d7c8b251-fa97-f38c-a0c6-37847cbeb2b6" />
        <label class="form-check-label" style="color: #000000;font-size: 14px" for="d7c8b251-fa97-f38c-a0c6-37847cbeb2b6">            
            GU 
        </label>
    </div><div class="form-check" style="padding-top: 10px;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-left: 0px;
    
    border-radius: 0px;min-height: auto;">
        <input type="checkbox" class="form-check-input ms-0 me-2" name="checkbox-6b735ee4" value="1" id="6b735ee4-7c40-475c-d0d8-1802eb74e1a4" />
        <label class="form-check-label" style="color: #000000;font-size: 14px" for="6b735ee4-7c40-475c-d0d8-1802eb74e1a4">            
            Investor 
        </label>
    </div><div class="form-check" style="padding-top: 10px;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-left: 0px;
    
    border-radius: 0px;min-height: auto;">
        <input type="checkbox" class="form-check-input ms-0 me-2" name="checkbox-eb55c378" value="1" id="eb55c378-9c40-d109-22cb-61de34d19c03" />
        <label class="form-check-label" style="color: #000000;font-size: 14px" for="eb55c378-9c40-d109-22cb-61de34d19c03">            
            Checkbox label 
        </label>
    </div></div><div class="column-per-50 d-inline-block w-100 float-start">
<div style="padding-top: 10px;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-left: 0px;
    
    border-radius: 0px;min-height: auto;line-height: 1.5;font-family: 'Helvetica Neue', Helvetica, sans-serif;" class="text-break">
        <h3>Adressdaten</h3>

        </div><div style="padding-top: 10px;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-left: 0px;
    
    border-radius: 0px;min-height: auto;">
        <label class="" style="color: #000000;font-size: 14px">
            <span class="d-inline-block">Unternehmen:</span>
            </label><input type="text" class="form-control"
        name="input-a4bf71a7"
        autocomplete="off"
        placeholder="Mustermann GmbH"
        id="undefined"
        value="undefined"
              style="background-color: #ffffff;border: solid 1px #ced4da;border-radius: 5px"  /></div><div style="padding-top: 10px;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-left: 0px;
    
    border-radius: 0px;min-height: auto;">
        <label class="" style="color: #000000;font-size: 14px">
            <span class="d-inline-block">Name</span>
            <span class="text-danger d-inline-block">*</span></label><input type="text" class="form-control"
        name="input-6e34a6f6"
        autocomplete="off"
        placeholder="Max Mustermann"
        id=""
        value=""
              style="background-color: #ffffff;border: solid 1px #ced4da;border-radius: 5px"  required  /></div><div style="padding-top: 10px;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-left: 0px;
    
    border-radius: 0px;min-height: auto;">
        <label class="" style="color: #000000;font-size: 14px">
            <span class="d-inline-block">Adresse</span>
            </label><input type="text" class="form-control"
        name="input-32b1ef22"
        autocomplete="off"
        placeholder="Muster Str. 2d"
        id="undefined"
        value="undefined"
              style="background-color: #ffffff;border: solid 1px #ced4da;border-radius: 5px"  /></div><div style="padding-top: 10px;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-left: 0px;
    
    border-radius: 0px;min-height: auto;">
        <label class="" style="color: #000000;font-size: 14px">
            <span class="d-inline-block">PLZ</span>
            </label><input type="text" class="form-control"
        name="input-487bbda8"
        autocomplete="off"
        placeholder="30659"
        id="undefined"
        value="undefined"
              style="background-color: #ffffff;border: solid 1px #ced4da;border-radius: 5px"  /></div><div style="padding-top: 10px;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-left: 0px;
    
    border-radius: 0px;min-height: auto;">
        <label class="" style="color: #000000;font-size: 14px">
            <span class="d-inline-block">Land</span>
            </label><input type="text" class="form-control"
        name="input-12f3528c"
        autocomplete="off"
        placeholder="Deutschland, Schweiz, etc."
        id="undefined"
        value="undefined"
              style="background-color: #ffffff;border: solid 1px #ced4da;border-radius: 5px"  /></div><div style="padding-top: 10px;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-left: 0px;
    
    border-radius: 0px;min-height: auto;">
        <label class="" style="color: #000000;font-size: 14px">
            <span class="d-inline-block">Email Adresse</span>
            </label><input type="text" class="form-control"
        name="Email Adresse"
        autocomplete="off"
        placeholder=""
        id="undefined"
        value="undefined"
              style="background-color: #ffffff;border: solid 1px #ced4da;border-radius: 5px"  /></div><div style="padding-top: 10px;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-left: 0px;
    
    border-radius: 0px;min-height: auto;">
        <label class="" style="color: #000000;font-size: 14px">
            <span class="d-inline-block">Telefon Nummer</span>
            </label><input type="text" class="form-control"
        name="Telefon Nummer"
        autocomplete="off"
        placeholder=""
        id="{{phone_number}}"
        value="{{phone_number}}"
              style="background-color: #ffffff;border: solid 1px #ced4da;border-radius: 5px"  /></div></div></div><div class="clearfix"></div><div style="padding-top: 10px;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-left: 0px;
    
    border-radius: 0px;min-height: auto;" class="mj-outlook-group-fix">
                <hr class="hr-form-builder" style="margin:0;border-top-style: solid;border-top-width: 1px;">
                </div><div style="padding-top: 10px;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-left: 0px;
    
    border-radius: 0px;min-height: auto;line-height: 1.5;font-family: 'Helvetica Neue', Helvetica, sans-serif;" class="text-break">
        <h4>Wie sind Sie auf uns aufmerksam geworden?</h4>

        </div><div class="form-check" style="padding-top: 10px;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-left: 0px;
    
    border-radius: 0px;min-height: auto;">
        <input type="checkbox" class="form-check-input ms-0 me-2" name="Heinze" value="1" id="dd2e52eb-72ee-1165-f807-fe83b79f34eb" />
        <label class="form-check-label" style="color: #000000;font-size: 14px" for="dd2e52eb-72ee-1165-f807-fe83b79f34eb">            
            Heinze 
        </label>
    </div><div class="form-check" style="padding-top: 10px;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-left: 0px;
    
    border-radius: 0px;min-height: auto;">
        <input type="checkbox" class="form-check-input ms-0 me-2" name="Messe (z.B. BAU)" value="1" id="f7343742-08bd-e82a-b029-bf3c9ad08a1f" />
        <label class="form-check-label" style="color: #000000;font-size: 14px" for="f7343742-08bd-e82a-b029-bf3c9ad08a1f">            
            Messe (z.B. BAU) 
        </label>
    </div><div class="form-check" style="padding-top: 10px;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-left: 0px;
    
    border-radius: 0px;min-height: auto;">
        <input type="checkbox" class="form-check-input ms-0 me-2" name="SIKG" value="1" id="09646ce3-0bb5-dfea-c922-18e8d114eeff" />
        <label class="form-check-label" style="color: #000000;font-size: 14px" for="09646ce3-0bb5-dfea-c922-18e8d114eeff">            
            SIKG 
        </label>
    </div><div style="padding-top: 10px;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-left: 0px;
    
    border-radius: 0px;min-height: auto;">
        <label class="" style="color: #000000;font-size: 14px">
            <span class="d-inline-block">Sonstiges</span>
            </label><input type="text" class="form-control"
        name="Sonstiges"
        autocomplete="off"
        placeholder=""
        id="undefined"
        value="undefined"
              style="background-color: #ffffff;border: solid 1px #ced4da;border-radius: 5px"  /></div><div style="padding-top: 10px;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-left: 0px;
    
    border-radius: 0px;min-height: auto;" class="mj-outlook-group-fix">
                <hr class="hr-form-builder" style="margin:0;border-top-style: solid;border-top-width: 1px;">
                </div><div style="padding-top: 10px;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-left: 0px;
    
    border-radius: 0px;min-height: auto;line-height: 1.5;font-family: 'Helvetica Neue', Helvetica, sans-serif;" class="text-break">
        <h3>Produktqualifizierung</h3>

        </div><div class="container-fluid p-0">
<div class="column-per-50 d-inline-block w-100 float-start">
<div style="padding-top: 10px;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-left: 0px;
    
    border-radius: 0px;min-height: auto;line-height: 1.5;font-family: 'Helvetica Neue', Helvetica, sans-serif;" class="text-break">
        <p><span style="font-size:14px"><span style="font-family:Tahoma"><span style="color:#1f497d">An welchem unserer Produkte sind Sie haupts&auml;chlich interessiert? Bzw. ben&ouml;tigen Sie eine statische oder dynamische Installation zur Raumgestaltung?</span></span></span></p>

        </div><div class="form-check" style="padding-top: 10px;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-left: 0px;
    
    border-radius: 0px;min-height: auto;">
        <input type="checkbox" class="form-check-input ms-0 me-2" name="statische Raumtrennung / Trennwandsystem" value="1" id="f13fe813-b100-c2f8-b6ab-30dba7aecd9c" />
        <label class="form-check-label" style="color: #000000;font-size: 14px" for="f13fe813-b100-c2f8-b6ab-30dba7aecd9c">            
            statische Raumtrennung / Trennwandsystem 
        </label>
    </div><div class="form-check" style="padding-top: 10px;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-left: 0px;
    
    border-radius: 0px;min-height: auto;">
        <input type="checkbox" class="form-check-input ms-0 me-2" name="statische Raumgestaltung / Openstyle" value="1" id="11b4081b-3a94-1626-44e6-cb23dc65281a" />
        <label class="form-check-label" style="color: #000000;font-size: 14px" for="11b4081b-3a94-1626-44e6-cb23dc65281a">            
            statische Raumgestaltung / Openstyle 
        </label>
    </div><div class="form-check" style="padding-top: 10px;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-left: 0px;
    
    border-radius: 0px;min-height: auto;">
        <input type="checkbox" class="form-check-input ms-0 me-2" name="dynamische Raumgestaltung / MST / Openstyle" value="1" id="b868ad3f-18eb-3f44-31f3-593a5f269349" />
        <label class="form-check-label" style="color: #000000;font-size: 14px" for="b868ad3f-18eb-3f44-31f3-593a5f269349">            
            dynamische Raumgestaltung / MST / Openstyle 
        </label>
    </div><div class="form-check" style="padding-top: 10px;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-left: 0px;
    
    border-radius: 0px;min-height: auto;">
        <input type="checkbox" class="form-check-input ms-0 me-2" name="Regalsysteme Smartcube/-frame, Mandeo" value="1" id="eb4ab59a-620e-efee-e1ef-90c1156aa7f6" />
        <label class="form-check-label" style="color: #000000;font-size: 14px" for="eb4ab59a-620e-efee-e1ef-90c1156aa7f6">            
            Regalsysteme Smartcube/-frame, Mandeo 
        </label>
    </div><div style="padding-top: 10px;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-left: 0px;
    
    border-radius: 0px;min-height: auto;">
        <label class="" style="color: #000000;font-size: 14px">
            <span class="d-inline-block">Sonstiges</span>
            </label><input type="text" class="form-control"
        name="Sonstiges"
        autocomplete="off"
        placeholder=""
        id="undefined"
        value="undefined"
              style="background-color: #ffffff;border: solid 1px #ced4da;border-radius: 5px"  /></div></div><div class="column-per-50 d-inline-block w-100 float-start">
<div style="padding-top: 10px;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-left: 0px;
    
    border-radius: 0px;min-height: auto;line-height: 1.5;font-family: 'Helvetica Neue', Helvetica, sans-serif;" class="text-break">
        <p><span style="font-size:14px"><span style="font-family:Tahoma"><span style="color:#1f497d">Falls noch <strong>keine</strong></span></span> <span style="font-family:Tahoma"><span style="color:#1f497d"><strong>genaueren</strong></span></span> <span style="font-family:Tahoma"><span style="color:#1f497d"><strong>Projektdetails</strong> vorliegen: inhaltlicher Kontaktwunsch[&hellip;]?</span></span></span></p>

        </div><div class="form-check" style="padding-top: 10px;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-left: 0px;
    
    border-radius: 0px;min-height: auto;">
        <input type="checkbox" class="form-check-input ms-0 me-2" name="Versand Produktinformationen je System" value="1" id="78d0e4f5-9a88-f856-9cd3-c816330bbec7" />
        <label class="form-check-label" style="color: #000000;font-size: 14px" for="78d0e4f5-9a88-f856-9cd3-c816330bbec7">            
            Versand Produktinformationen je System 
        </label>
    </div><div class="form-check" style="padding-top: 10px;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-left: 0px;
    
    border-radius: 0px;min-height: auto;">
        <input type="checkbox" class="form-check-input ms-0 me-2" name="Versand Produktfolder (AP VS 43 ST)" value="1" id="02fd40b9-d09a-9bb9-9ce2-d2effb8608c0" />
        <label class="form-check-label" style="color: #000000;font-size: 14px" for="02fd40b9-d09a-9bb9-9ce2-d2effb8608c0">            
            Versand Produktfolder (AP VS 43 ST) 
        </label>
    </div><div class="form-check" style="padding-top: 10px;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-left: 0px;
    
    border-radius: 0px;min-height: auto;">
        <input type="checkbox" class="form-check-input ms-0 me-2" name="Versand Datenblatt (AP VS 43 ST)" value="1" id="c5e4b0a8-8f14-82e5-a170-8bf52e8540c9" />
        <label class="form-check-label" style="color: #000000;font-size: 14px" for="c5e4b0a8-8f14-82e5-a170-8bf52e8540c9">            
            Versand Datenblatt (AP VS 43 ST) 
        </label>
    </div><div class="form-check" style="padding-top: 10px;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-left: 0px;
    
    border-radius: 0px;min-height: auto;">
        <input type="checkbox" class="form-check-input ms-0 me-2" name="Versand Anfrageformular je Produkt" value="1" id="5bc674b9-e1ea-a9a5-beb2-68e7b2f6eb59" />
        <label class="form-check-label" style="color: #000000;font-size: 14px" for="5bc674b9-e1ea-a9a5-beb2-68e7b2f6eb59">            
            Versand Anfrageformular je Produkt 
        </label>
    </div><div class="form-check" style="padding-top: 10px;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-left: 0px;
    
    border-radius: 0px;min-height: auto;">
        <input type="checkbox" class="form-check-input ms-0 me-2" name="Versand Muster je Produkt" value="1" id="e9a8eb55-8840-dcd4-a5aa-c2cf5c41b717" />
        <label class="form-check-label" style="color: #000000;font-size: 14px" for="e9a8eb55-8840-dcd4-a5aa-c2cf5c41b717">            
            Versand Muster je Produkt 
        </label>
    </div><div class="form-check" style="padding-top: 10px;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-left: 0px;
    
    border-radius: 0px;min-height: auto;">
        <input type="checkbox" class="form-check-input ms-0 me-2" name="Beratung durch den AD" value="1" id="adcd4c1d-6d42-2b8f-bc3b-ac011d159d3c" />
        <label class="form-check-label" style="color: #000000;font-size: 14px" for="adcd4c1d-6d42-2b8f-bc3b-ac011d159d3c">            
            Beratung durch den AD 
        </label>
    </div></div></div><div class="clearfix"></div><div style="padding-top: 10px;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-left: 0px;
    
    border-radius: 0px;min-height: auto;" class="mj-outlook-group-fix">
                <hr class="hr-form-builder" style="margin:0;border-top-style: solid;border-top-width: 1px;">
                </div><div style="padding-top: 10px;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-left: 0px;
    
    border-radius: 0px;min-height: auto;line-height: 1.5;font-family: 'Helvetica Neue', Helvetica, sans-serif;" class="text-break">
        <h3>Projektdetails</h3>

        </div><div class="container-fluid p-0">
<div class="column-per-50 d-inline-block w-100 float-start">
<div style="padding-top: 10px;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-left: 0px;
    
    border-radius: 0px;min-height: auto;line-height: 1.5;font-family: 'Helvetica Neue', Helvetica, sans-serif;" class="text-break">
        <p><span style="font-size:14px"><span style="font-family:Tahoma"><span style="color:#1f497d">Wie hei&szlig;t Ihr Objekt bzw. wie w&uuml;rden Sie den <strong>Einsatzbereich</strong> beschreiben?</span></span></span></p>

        </div><div class="form-check" style="padding-top: 10px;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-left: 0px;
    
    border-radius: 0px;min-height: auto;">
        <input type="checkbox" class="form-check-input ms-0 me-2" name="Bürogebäude" value="1" id="c3b4f46b-cb25-8c7a-f1a4-5153cf4fde54" />
        <label class="form-check-label" style="color: #000000;font-size: 14px" for="c3b4f46b-cb25-8c7a-f1a4-5153cf4fde54">            
            Bürogebäude 
        </label>
    </div><div class="form-check" style="padding-top: 10px;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-left: 0px;
    
    border-radius: 0px;min-height: auto;">
        <input type="checkbox" class="form-check-input ms-0 me-2" name="Hotelgebäude" value="1" id="f27c5e62-1819-b9c8-70a7-d7bec9ff4c00" />
        <label class="form-check-label" style="color: #000000;font-size: 14px" for="f27c5e62-1819-b9c8-70a7-d7bec9ff4c00">            
            Hotelgebäude 
        </label>
    </div><div class="form-check" style="padding-top: 10px;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-left: 0px;
    
    border-radius: 0px;min-height: auto;">
        <input type="checkbox" class="form-check-input ms-0 me-2" name="Privatbereich" value="1" id="c5d2709f-0cfc-12ad-81fc-2b418d83be8e" />
        <label class="form-check-label" style="color: #000000;font-size: 14px" for="c5d2709f-0cfc-12ad-81fc-2b418d83be8e">            
            Privatbereich 
        </label>
    </div><div style="padding-top: 10px;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-left: 0px;
    
    border-radius: 0px;min-height: auto;">
        <label class="" style="color: #000000;font-size: 14px">
            <span class="d-inline-block">Sonstiges</span>
            </label><input type="text" class="form-control"
        name="Sonstiges"
        autocomplete="off"
        placeholder=""
        id="undefined"
        value="undefined"
              style="background-color: #ffffff;border: solid 1px #ced4da;border-radius: 5px"  /></div><div style="padding-top: 10px;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-left: 0px;
    
    border-radius: 0px;min-height: auto;">
    <label class="" style="color: #000000;font-size: 14px">
        <span class="d-inline-block">Wie würden Sie die Lage Ihres Objektes beschreiben?</span></label>
        <textarea class="form-control"
            name="Wie würden Sie die Lage Ihres Objektes beschreiben?"
            placeholder=""
            style="background-color: #ffffff;border: solid 1px #ced4da;border-radius: 5px;"></textarea>
        </div><div style="padding-top: 10px;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-left: 0px;
    
    border-radius: 0px;min-height: auto;">
    <label class="" style="color: #000000;font-size: 14px">
        <span class="d-inline-block">In welcher Phase befindet sich Ihr Projekt bzw. wie ist der aktuelle Status?</span></label>
        <textarea class="form-control"
            name="In welcher Phase befindet sich Ihr Projekt bzw. wie ist der aktuelle Status?"
            placeholder=""
            style="background-color: #ffffff;border: solid 1px #ced4da;border-radius: 5px;"></textarea>
        </div><div style="padding-top: 10px;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-left: 0px;
    
    border-radius: 0px;min-height: auto;">
    <label class="" style="color: #000000;font-size: 14px">
        <span class="d-inline-block">Wie sieht die weitere Zeitplanung aus?</span></label>
        <textarea class="form-control"
            name="Wie sieht die weitere Zeitplanung aus?"
            placeholder=""
            style="background-color: #ffffff;border: solid 1px #ced4da;border-radius: 5px;"></textarea>
        </div></div><div class="column-per-50 d-inline-block w-100 float-start">
<div style="padding-top: 10px;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-left: 0px;
    
    border-radius: 0px;min-height: auto;">
    <label class="" style="color: #000000;font-size: 14px">
        <span class="d-inline-block">Gibt es Anforderungen, die das Trennwandsystem in Ihrem Anwendungsfall erfüllen sollte?</span></label>
        <textarea class="form-control"
            name="Gibt es Anforderungen, die das Trennwandsystem in Ihrem Anwendungsfall erfüllen sollte?"
            placeholder=""
            style="background-color: #ffffff;border: solid 1px #ced4da;border-radius: 5px;"></textarea>
        </div><div style="padding-top: 10px;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-left: 0px;
    
    border-radius: 0px;min-height: auto;line-height: 1.5;font-family: 'Helvetica Neue', Helvetica, sans-serif;" class="text-break">
        <p><span style="font-size:14px"><span style="font-family:Tahoma"><span style="color:#1f497d">Sind diese Anforderungen normativ?</span></span></span></p>

        </div><div class="form-check" style="padding-top: 10px;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-left: 0px;
    
    border-radius: 0px;min-height: auto;">
        <input type="checkbox" class="form-check-input ms-0 me-2" name="Schallschutz" value="1" id="6a39f9ac-31f7-bcb9-4128-227114cedf69" />
        <label class="form-check-label" style="color: #000000;font-size: 14px" for="6a39f9ac-31f7-bcb9-4128-227114cedf69">            
            Schallschutz 
        </label>
    </div><div class="form-check" style="padding-top: 10px;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-left: 0px;
    
    border-radius: 0px;min-height: auto;">
        <input type="checkbox" class="form-check-input ms-0 me-2" name="Absturzsicherung" value="1" id="4409d687-8273-7acb-64ae-457294c1f229" />
        <label class="form-check-label" style="color: #000000;font-size: 14px" for="4409d687-8273-7acb-64ae-457294c1f229">            
            Absturzsicherung 
        </label>
    </div><div style="padding-top: 10px;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-left: 0px;
    
    border-radius: 0px;min-height: auto;">
        <label class="" style="color: #000000;font-size: 14px">
            <span class="d-inline-block">Sonstiges</span>
            </label><input type="text" class="form-control"
        name="Sonstiges"
        autocomplete="off"
        placeholder=""
        id="undefined"
        value="undefined"
              style="background-color: #ffffff;border: solid 1px #ced4da;border-radius: 5px"  /></div></div></div><div class="clearfix"></div>
              <div style="padding-top: 10px;
              padding-right: 0px;
              padding-bottom: 10px;
              padding-left: 0px;
              border-radius: 0px;min-height: auto;">
                  <label class="" style="color: #000000;font-size: 14px">
                      <span class="d-inline-block">Emails</span></label>
                  <select class="form-control"
                      name="dropdown-54071c5f"
                      id="my_emails"
                      style="background-color: #ffffff;border: solid 1px #ced4da;border-radius: 5px">
                  
                  '</select>
              </div>

              <div style="padding-top: 10px;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-left: 0px;
    
    border-radius: 0px;min-height: auto;">
    <center><table cellpadding="0" cellspacing="0" style="margin:0;border-collapse:collapse;" align="center">
          <tr>
            <td style="vertical-align: middle"><button type="submit" style="padding:0 15px;text-decoration:none;display:block;text-align:center;border:0;color:#FFFFFF;font-family: 'Helvetica Neue', Helvetica, sans-serif;font-size: 16px;height: 30px; line-height: 30px;background-color: #0143a3;width:auto;">
        Button
      </button></td>
          </tr>
        </table></center><div style="clear: both"></div></div>
</form>            
            <script type="text/javascript">
            Dropzone.autoDiscover = false;
            $(document).ready(function(){
                $(function () {
                  $.fn.datetimepicker.Constructor.Default = $.extend({}, $.fn.datetimepicker.Constructor.Default, {
                    icons: {
                        time: 'far fa-clock',
                        date: 'far fa-calendar',
                        up: 'fas fa-arrow-up',
                        down: 'fas fa-arrow-down',
                        previous: 'fas fa-chevron-left',
                        next: 'fas fa-chevron-right',
                        today: 'far fa-calendar-check-o',
                        clear: 'far fa-trash',
                        close: 'far fa-times'
                    } });

                    $('div[id^="datetime_input_"]').datetimepicker({
                      format: "YYYY-MM-DD HH:mm",
                      focusOnShow: false,
                    });

                    $('div[id^="date_input_"]').datetimepicker({                        
                      format: "YYYY-MM-DD",
                      focusOnShow: false,
                    });

                    $('div[id^="dropzone_"]').each(function() {   
                      console.log($(this).data('max-file-size'))                   
                      $(this).dropzone({
                        addRemoveLinks: true,
                        url: $(this).data('upload-url'),
                        paramName: $(this).data('param-name'),
                        dictDefaultMessage: $(this).data('message'),
                        acceptedFiles: $(this).data('accepted-files'),
                        maxFilesize: $(this).data('max-file-size')
                      });
                    });
                });
            });
            </script>
            <script>

                var jsonString = "{{ data | safe }}";
                var inputElement = document.getElementById('set_receiver');
  
                // Replace double quotes with single quotes
                var singleQuotedString = jsonString.replace(/'/g, '"');
  
                // Parse the modified JSON string
                var jsonData = JSON.parse(singleQuotedString);
  
                var selectElement = document.getElementById('my_emails');
                // selectElement.name = 'send_email';
  
                function replaceTextareaWithDiv(textareaId) {
                    const textarea = document.getElementById(textareaId);
            
                    const rawHTML = textarea.getAttribute('placeholder');
            
                    const newDiv = document.createElement('div');
            
                    newDiv.innerHTML = rawHTML;
            
                    textarea.parentNode.replaceChild(newDiv, textarea);
    
                    const anchorElements = newDiv.querySelectorAll('a');
                    anchorElements.forEach((anchor) => {
                      anchor.setAttribute('target', '_blank');
                    });
                  }
    
                  function setElementNameById(elementId, name) {
                    const element = document.getElementById(elementId);
                    if (element) {
                      element.name = name;
    
                      if (elementId != 'my_emails') {
                        replaceTextareaWithDiv(elementId);
                      }
                    }
                  }
    
                  // document.getElementById('my_emails').name = 'send_email'
                  // document.getElementById('disappearing_info').name = 'disappearing_info'
                  // document.getElementById('important_info').name = 'important_info'
                  // document.getElementById('welcome_text').name = 'welcome_text'
    
                  setElementNameById('my_emails', 'send_email');
                  setElementNameById('disappearing_info', 'disappearing_info');
                  setElementNameById('important_info', 'important_info');
                  setElementNameById('welcome_text', 'welcome_text');
  
                for (var key in jsonData) {
                    var option = document.createElement('option');
                    option.value = key;
                    option.textContent = key;
                    selectElement.appendChild(option);
                }
  
                selectElement.addEventListener('change', function() {
                  var selectedValue = selectElement.value;
                  if (jsonData.hasOwnProperty(selectedValue)) {
                    inputElement.value = jsonData[selectedValue];
                  } else {
                    inputElement.value = '';
                  }
                });
              </script>
          </body>
        </html>