{% load static %}

<!DOCTYPE html>

<html>

  <head>
    <meta charset="utf-8">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>


    <link rel="stylesheet" type="text/css" href="{% static '/css/home.css' %}">

    <link rel="stylesheet" type="text/css" href="{% static '/css/scrollbar.css' %}">

    <title>Control Panel</title>

    <meta name="description" content="">
    <!-- responsive tag -->
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      
  </head>

    <body>

      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Control Panel</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              {% comment %} <a class="nav-link active" aria-current="page" href="#">Home</a>
              <a class="nav-link" href="#">admin</a> {% endcomment %}
            </div>
          </div>
        </div>
      </nav>

      <div class="modal fade" id="details" tabindex="-1" aria-labelledby="detailsLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="detailsLabel">Edit User Details</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div class="mb-3">
                <label for="user_name" class="form-label">User Name</label>
                <input type="text" class="form-control" id="user_name" aria-describedby="emailHelp">
              </div>
              <div class="mb-3">
                <label for="user_phone" class="form-label">User Number</label>
                <input type="text" class="form-control" id="user_phone">
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" id="save_details" class="btn btn-primary">Save changes</button>
            </div>
          </div>
        </div>
      </div>

        <div class="row main-container">

            <div class="col-2 d-flex phone-number flex-column align-items-stretch flex-shrink-0 bg-white">
                <div class="search-area">
                  <input class="num-search form-control form-control-sm col-12" type="text" placeholder="Search User">
                </div>

                <hr>

                <div class="list-group list-group-flush border-bottom scrollarea">
                  <a class="list-group-item list-group-item-action py-3 lh-tight">
                    <div class="d-flex w-100 align-items-center justify-content-between draggable_number" ondblclick="edit_modal(this.id)" id="100">User 1</div>
                  </a>
                  <a class="list-group-item list-group-item-action py-3 lh-tight">
                    <div class="d-flex w-100 align-items-center justify-content-between draggable_number" ondblclick="edit_modal(this.id)" id="101">User 2</div>
                  </a>
            
                  <a class="list-group-item list-group-item-action py-3 lh-tight" aria-current="true">
                    <div class="d-flex w-100 align-items-center justify-content-between draggable_number" ondblclick="edit_modal(this.id)" id="102">User 3</div>
                  </a>
                  <a class="list-group-item list-group-item-action py-3 lh-tight">
                    <div class="d-flex w-100 align-items-center justify-content-between draggable_number" ondblclick="edit_modal(this.id)" id="103">User 4</div>
                  </a>
                  <a class="list-group-item list-group-item-action py-3 lh-tight">
                    <div class="d-flex w-100 align-items-center justify-content-between draggable_number" ondblclick="edit_modal(this.id)" id="104">User 5</div>
                  </a>
                  <a class="list-group-item list-group-item-action py-3 lh-tight" aria-current="true">
                    <div class="d-flex w-100 align-items-center justify-content-between draggable_number" ondblclick="edit_modal(this.id)" id="105">User 6</div>
                  </a>
                  <a class="list-group-item list-group-item-action py-3 lh-tight">
                    <div class="d-flex w-100 align-items-center justify-content-between draggable_number" ondblclick="edit_modal(this.id)" id="7765125364">User 7</div>
                  </a>
                  <a class="list-group-item list-group-item-action py-3 lh-tight">
                    <div class="d-flex w-100 align-items-center justify-content-between draggable_number" ondblclick="edit_modal(this.id)" id="9878767876">User 8</div>
                  </a>
                  <a class="list-group-item list-group-item-action py-3 lh-tight" aria-current="true">
                    <div class="d-flex w-100 align-items-center justify-content-between draggable_number" ondblclick="edit_modal(this.id)" id="1286758493">User 9</div>
                  </a>
                  <a class="list-group-item list-group-item-action py-3 lh-tight">
                    <div class="d-flex w-100 align-items-center justify-content-between draggable_number" ondblclick="edit_modal(this.id)" id="87645843756">User 10</div>
                  </a>
                  <a class="list-group-item list-group-item-action py-3 lh-tight">
                    <div class="d-flex w-100 align-items-center justify-content-between draggable_number" ondblclick="edit_modal(this.id)" id="9863847563">User 11</div>
                  </a>
                  <a class="list-group-item list-group-item-action py-3 lh-tight" aria-current="true">
                    <div class="d-flex w-100 align-items-center justify-content-between draggable_number" ondblclick="edit_modal(this.id)" id="87634857346">User 12</div>
                  </a>
                  <a class="list-group-item list-group-item-action py-3 lh-tight">
                    <div class="d-flex w-100 align-items-center justify-content-between draggable_number" ondblclick="edit_modal(this.id)" id="98374637856">User 13</div>
                  </a>
                  <a class="list-group-item list-group-item-action py-3 lh-tight">
                    <div class="d-flex w-100 align-items-center justify-content-between draggable_number" ondblclick="edit_modal(this.id)" id="9382746352">User 14</div>
                  </a>
                  <a class="list-group-item list-group-item-action py-3 lh-tight" aria-current="true">
                    <div class="d-flex w-100 align-items-center justify-content-between draggable_number" ondblclick="edit_modal(this.id)" id="9879879876">User 15</div>
                  </a>
                  <a class="list-group-item list-group-item-action py-3 lh-tight">
                    <div class="d-flex w-100 align-items-center justify-content-between draggable_number" ondblclick="edit_modal(this.id)" id="8872364589">User 16</div>
                  </a>
                  <a class="list-group-item list-group-item-action py-3 lh-tight">
                    <div class="d-flex w-100 align-items-center justify-content-between draggable_number" ondblclick="edit_modal(this.id)" id="9836475387">User 17</div>
                  </a>
                  <a class="list-group-item list-group-item-action py-3 lh-tight">
                    <div class="d-flex w-100 align-items-center justify-content-between draggable_number" ondblclick="edit_modal(this.id)" id="9988336644">
                    </div></a>
                  <a class="list-group-item list-group-item-action py-3 lh-tight">
                    <div class="d-flex w-100 align-items-center justify-content-between draggable_number" ondblclick="edit_modal(this.id)" id="9384753627">User 18</div>
                  </a>
                  <a class="list-group-item list-group-item-action py-3 lh-tight">
                    <div class="d-flex w-100 align-items-center justify-content-between draggable_number" ondblclick="edit_modal(this.id)" id="8394673783">User 19</div>
                  </a>
                  <a class="list-group-item list-group-item-action py-3 lh-tight">
                    <div class="d-flex w-100 align-items-center justify-content-between draggable_number" ondblclick="edit_modal(this.id)" id="num18">User 20</div>
                  </a>
                </div>
            </div>

            <div class="row
             row-cols-2 row-cols-lg-3 col-10 drop-container">
                <div class="scrollbar dropable-room col-first col room1" id="style-3">
                  <div class="room-heading" id="room_num1"> Room Name </div>

                  <hr>

                </div>

                <div class="scrollbar dropable-room col-first col room2"  id="style-3">
                  <div class="room-heading" id="room_num2"> Room Name </div>

                  <hr>

                </div>

                <div class="scrollbar dropable-room col-first col room3"  id="style-3">
                  <div class="room-heading" id="room_num3"> Room Name </div>

                  <hr>

                </div>

                <div class="scrollbar dropable-room col-first col room4"  id="style-3">
                  <div class="room-heading" id="room_num4"> Room Name </div>

                  <hr>

                </div>

                <div class="scrollbar dropable-room col-first col room5"  id="style-3">
                  <div class="room-heading" id="room_num5"> Room Name </div>

                  <hr>

                </div>

                <div class="scrollbar dropable-room col-first col room6"  id="style-3">
                  <div class="room-heading" id="room_num6"> Room Name </div>

                  <hr>

                </div>

                <div class="scrollbar dropable-room col-first col room7"  id="style-3">
                  <div class="room-heading" id="room_num7"> Room Name </div>

                  <hr>

                </div>

                <div class="scrollbar dropable-room col-first col room8"  id="style-3">
                  <div class="room-heading" id="room_num8"> Room Name </div>

                  <hr>

                </div>

                <div class="scrollbar dropable-room col-first col room9"  id="style-3">
                  <div class="room-heading" id="room_num9"> Room Name </div>

                  <hr>

                </div>

                <div class="scrollbar dropable-room col-first col room10"  id="style-3">
                  <div class="room-heading" id="room_num10"> Room Name </div>

                  <hr>

                </div>

                <div class="scrollbar dropable-room col-first col room11"  id="style-3">
                  <div class="room-heading" id="room_num11"> Room Name </div>

                  <hr>

                </div>

                <div class="scrollbar dropable-room col-first col room12"  id="style-3">
                  <div class="room-heading" id="room_num12"> Room Name </div>

                  <hr>

                </div>

                <div class="scrollbar dropable-room col-first col room13"  id="style-3">
                  <div class="room-heading" id="room_num13"> Room Name </div>

                  <hr>

                </div>

                <div class="scrollbar dropable-room col-first col room14"  id="style-3">
                  <div class="room-heading" id="room_num14"> Room Name </div>

                  <hr>

                </div>

                <div class="scrollbar dropable-room col-first col room15"  id="style-3">
                  <div class="room-heading" id="room_num15"> Room Name </div>

                  <hr>

                </div>

                <div class="scrollbar dropable-room col-first col room16"  id="style-3">
                  <div class="room-heading" id="room_num16"> Room Name </div>

                  <hr>

                </div>

                <div class="scrollbar dropable-room col-first col room17"  id="style-3">
                  <div class="room-heading" id="room_num17"> Room Name </div>

                  <hr>

                </div>

                <div class="scrollbar dropable-room col-first col room18"  id="style-3">
                  <div class="room-heading" id="room_num18"> Room Name </div>

                  <hr>

                </div>

                <div class="scrollbar dropable-room col-first col room19"  id="style-3">
                  <div class="room-heading" id="room_num19"> Room Name </div>

                  <hr>

                </div>

                <div class="scrollbar dropable-room col-first col room20"  id="style-3">
                  <div class="room-heading" id="room_num20"> Room Name </div>

                  <hr>

                </div>

                <div class="scrollbar dropable-room col-first col room21"  id="style-3">
                  <div class="room-heading" id="room_num21"> Room Name </div>

                  <hr>

                </div>

                <div class="scrollbar dropable-room col-first col room22"  id="style-3">
                  <div class="room-heading" id="room_num22"> Room Name </div>

                  <hr>

                </div>

                <div class="scrollbar dropable-room col-first col room23"  id="style-3">
                  <div class="room-heading" id="room_num23"> Room Name </div>

                  <hr>

                </div>

                <div class="scrollbar dropable-room col-first col room24"  id="style-3">
                  <div class="room-heading" id="room_num24"> Room Name </div>

                  <hr>

                </div>

                <div class="scrollbar dropable-room col-first col room25"  id="style-3">
                  <div class="room-heading" id="room_num25"> Room Name </div>

                  <hr>

                </div>

                <div class="scrollbar dropable-room col-first col room26"  id="style-3">
                  <div class="room-heading" id="room_num26"> Room Name </div>

                  <hr>

                </div>

                <div class="scrollbar dropable-room col-first col room27"  id="style-3">
                  <div class="room-heading" id="room_num27"> Room Name </div>

                  <hr>

                </div>

                <div class="scrollbar dropable-room col-first col room28"  id="style-3">
                  <div class="room-heading" id="room_num28"> Room Name </div>

                  <hr>

                </div>

                <div class="scrollbar dropable-room col-first col room29"  id="style-3">
                  <div class="room-heading" id="room_num29"> Room Name </div>

                  <hr>

                </div>

                <div class="scrollbar dropable-room col-first col room30"  id="style-3">
                  <div class="room-heading" id="room_num30"> Room Name </div>

                  <hr>

                </div>
            </div>

        </div>

        <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        
        <script src="{% static '/js/call.js' %}"></script>
        <script src="{% static '/js/home.js' %}"></script>

    </body>

</html>